@charset "UTF-8";
.jd-container {
    position: relative;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    height: 200px;
    background: skyblue;
}


/* 顶部搜索 */

.jd-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.js-search-box {
    width: 100%;
    height: 40px;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    background: #d8505c;
}